.example-full-width {
  width: 40%;
}

.add-publication-wrapper {

  .add-publication-title {
    padding: 1.5rem 0;
    margin: 0;
  }
}
.publication-type-wrapper {
  display: flex;
  
  p{
    color: #999;
    align-self: flex-end;
    padding: 0 1.5rem;
    margin: 0;
  }

  .add-publication-dialog-wrapper{
    display: flex;

    button {
      align-self: center;
    }
  }
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.45em;
}

.form-group {

  .pages {
    width: 10%;
    display: flex;
    justify-content: space-between;
  }
}

.submit-button-wrapper {
  margin: 0;
  padding-top: 1rem;
}