.content-wrapper {
  color: #333;

  .content {
    background-color: #fff;
    padding: 32px;
    border-radius: 10px;
    width: 25%;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 1;

    .title {
      font-weight: 700;
      padding-bottom: 1.5rem;
    }

    .login-form {

      .label-text {
        font-size: 10px;
        margin: 0;
        font-weight: 500;
      }

      .form-control {
        border: none;
        border-bottom: 1px solid #666;
        font-family: Arial, FontAwesome;
      }

      .form-control:focus {
        box-shadow: none;
      }

      .form-control::placeholder {
        color: #999;
        font-size: 12px;
      }

      .password-input-wrapper {
          padding-bottom: 2rem;
      }

      .submit-button-wrapper {
        padding-bottom: 2rem;
      }
    }

    .sign-up-using {
      font-size: 11px;
      font-weight: 500;
    }

    .sign-up-services-wrapper {
      padding-bottom: 2rem;

      .sign-up-service-list {
        display: flex;
        justify-content: center;

        .sign-up-service-item {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-size: 100%;
          background-repeat: no-repeat;
          margin: 0.25rem;
        }

        .google {
          background-image: url("../../../assets/images/google-logo.png");
        }

        .facebook {
          background-image: url("../../../assets/images/facebook-logo.png");
        }

        .twitter {
          background-image: url("../../../assets/images/twitter-logo.png");
        }
      }
    }
  }
}

.login-btn {
  background-color: #9BDFCA;
  font-weight: 500;
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  width: 100%;
}
