<div class="jumbotron">
  <div class="content-wrapper">
    <div class="content">
      <h2 class="text-center title">Змінити Пароль</h2>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group password-input-wrapper">
          <div class="error-text text-center">
            <p>{{errorMessage}}</p>
          </div>
          <label for="password" class="label-text">Пароль</label>
          <input type="password" formControlName="password" class="form-control" placeholder="&#xf023;  Введіть новий пароль:" />
        </div>
        <div class="form-group password-input-wrapper">
          <input type="password" formControlName="rePassword" class="form-control" placeholder="&#xf023;  Повторіть пароль:" />
        </div>
        <div class="form-group submit-button-wrapper">
          <button [disabled]="loading" class="btn btn-primary rounded-pill login-btn">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Змінити
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
