@import "@angular/material/prebuilt-themes/indigo-pink.css";

$mint-green-color: #5DC095;
$smooth-light-orange: #FFF0D9;
$orange: #FF7E00;
$blue: rgb(110, 144, 161);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.list-cleanup {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.jumbotron {
  background-color: $blue;
  min-height: 100%;
  width: 100%;
  border-radius: 0;
}
