<div class="jumbotron">
  <div class="content-wrapper">
    <div class="content">
      <h2 class="text-center title">Реєстрація</h2>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group">
          <div class="error-text text-center">
            <p>{{errorMessage}}</p>
          </div>
          <label for="email" class="label-text">Пошта</label>
          <input type="email" formControlName="email" class="form-control" placeholder="&#xf0e0;  Введіть електронну пошту" />
        </div>
        <div class="form-group">
          <label for="username" class="label-text">Username</label>
          <input type="text" formControlName="username" class="form-control" placeholder="&#xf007;  Введіть логін" />
        </div>
        <div class="form-group password-input-wrapper">
          <label for="password" class="label-text">Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="&#xf023;  Введіть пароль" />
        </div>
        <div class="form-group submit-button-wrapper">
          <button [disabled]="loading" class="btn btn-primary rounded-pill login-btn">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Зареєструватись
          </button>
        </div>
      </form>
      <div class="text-center sign-up-using-sign-up-wrapper">
        <p>Чи увійти через</p>
        <a routerLink="/login" class="sign-up">Вхід</a>
      </div>
    </div>
  </div>
</div>
