<nav class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
    </div>
    <div class="navbar-nav">
        <a class="nav-item nav-link" >{{currentUser.login}}</a>
        <a class="nav-item nav-link with-margin"  routerLink="/login" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <h2>We are at the main page !</h2>
</div>

<div class="footer bg-dark">
    <span class="copyright">Copyright © 2022 Diploma - Slava Ukraine</span>
</div> 

