<nav class="navbar navbar-expand d-flex justify-content-between">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Головна</a>
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/add-publication">Додати Публікацію</a>
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link with-margin" routerLink="/login" (click)="logout()">Вихід</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <router-outlet></router-outlet>
</div>

<div class="footer bg-dark">
    <span class="copyright">Copyright © 2022 - Слава Україні!</span>
</div> 

