<div class="jumbotron">
  <div class="content-wrapper">
    <div class="content">
      <h2 class="text-center title">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group">
          <label for="username" class="label-text">Username</label>
          <input type="text" formControlName="username" class="form-control" placeholder="&#xf007;  Type your username" [ngClass]="{ 'is-invalid': submitted && form.username.errors }" />
          <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
            <div *ngIf="form.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group password-input-wrapper">
          <label for="password" class="label-text">Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="&#xf023;  Type your password" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
          <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
            <div *ngIf="form.password.errors.required">Password is required</div>
          </div>
          <div class="text-right">
            <a routerLink="/password-recover" class="btn align-right forgot-password">Forgot password?</a>
          </div>
        </div>
        <div class="form-group submit-button-wrapper">
          <button [disabled]="loading" class="btn btn-primary rounded-pill login-btn">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            LOGIN
          </button>
        </div>
      </form>
      <div class="text-center">
        <p class="sign-up-using">Or Sign Up Using</p>
      </div>
      <div class="sign-up-services-wrapper">
        <ul class="sign-up-service-list list-cleanup">
          <li class="sign-up-service-item facebook"></li>
          <li class="sign-up-service-item twitter"></li>
          <li class="sign-up-service-item google"></li>
        </ul>
      </div>
      <div class="text-center sign-up-using-sign-up-wrapper">
        <p>Or Sign Up Using</p>
        <a routerLink="/sign-up" class="sign-up">SIGN UP</a>
      </div>
    </div>
  </div>
  
</div>

